<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:include="fragments/general :: headerfiles">
    <title id="title">Út að Borða</title>
</head>
<body>
<header th:replace="fragments/general :: header"></header>
<main>
    <section class="addRestaurant">
        <h1>Add Restaurant</h1>
        <form action="#" th:action="@{/addRestaurant}" th:object="${restaurant}" method="post">
            <fieldset>
                <label for="name">Name:</label>
                <input id="name" type="text" th:field="*{name}">
                <label for="address">Address:</label>
                <input id="address" type="text" th:field="*{address}">
                <label for="phoneNumber">Phone:</label>
                <input id="phoneNumber" type="tel" th:field="*{phone}" pattern="[0-9]{3}-[0-9]{4}">
                <select id="cuisineType" th:field="*{cuisineType}">
                    <option value="bar">Bar</option>
                    <option value="chinese">Chinese</option>
                    <option value="french">French</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Opnunartímar</legend>
                <fieldset>
                    <legend>Mánudagar</legend>
                    <label for="mondayOpen">Opnar:</label>
                    <input id="mondayOpen" type="time">
                    <label for="mondayClose">Lokar:</label>
                    <input id="mondayClose" type="time">
                </fieldset>
                <fieldset>
                    <legend>Þriðjudagar</legend>
                    <label for="tuesdayOpen">Opnar:</label>
                    <input id="tuesdayOpen" type="time">
                    <label for="tuesdayClose">Lokar:</label>
                    <input id="tuesdayClose" type="time">
                </fieldset>
                <fieldset>
                    <legend>Miðvikudagar</legend>
                    <label for="wednesdayOpen">Opnar:</label>
                    <input id="wednesdayOpen" type="time">
                    <label for="wednesdayClose">Lokar:</label>
                    <input id="wednesdayClose" type="time">
                </fieldset>
                <fieldset>
                    <legend>Fimmtudagar</legend>
                    <label for="thursdayOpen">Opnar:</label>
                    <input id="thursdayOpen" type="time">
                    <label for="thursdayClose">Lokar:</label>
                    <input id="thursdayClose" type="time">
                </fieldset>
                <fieldset>
                    <legend>Föstudagar</legend>
                    <label for="fridayOpen">Opnar:</label>
                    <input id="fridayOpen" type="time">
                    <label for="fridayClose">Lokar:</label>
                    <input id="fridayClose" type="time">
                </fieldset>
                <fieldset>
                    <legend>Laugardagar</legend>
                    <label for="saturdayOpen">Opnar:</label>
                    <input id="saturdayOpen" type="time">
                    <label for="saturdayClose">Lokar:</label>
                    <input id="saturdayClose" type="time">
                </fieldset>
                <fieldset>
                    <legend>Sunnudagar</legend>
                    <label for="sundayOpen">Opnar:</label>
                    <input id="sundayOpen" type="time">
                    <label for="sundayClose">Lokar:</label>
                    <input id="sundayClose" type="time">
                </fieldset>
            </fieldset>
            <button type="submit">Submit</button>
        </form>
    </section>
</main>
</body>
</html>