<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="is">
<head th:insert="fragments/general.html :: headerfiles">
  <title id="title">Út Að Borða</title>
</head>
<body>
	<header th:replace="fragments/general.html :: header"></header>
    <main>
      <section th:replace="fragments/general.html :: sidebar"></section>
      <section th:replace="fragments/general.html :: login"></section>
   	  <section class="filter">
    	  <div class="filter__grid">
            <div class="filter__options">
              <div class="filter__item">
                <div class="filter__image">
                  <img class="filter__itemImg" alt="spaghetti" src="../static/img/spaghetti.png" th:src="@{img/spaghetti.png}"/>
                </div>
                <p>Italians<p>
              </div>
              <div class="filter__item">
                <div class="filter__image">
                  <img class="filter__img" alt="spaghetti" src="../static/img/spaghetti.png" th:src="@{img/spaghetti.png}"/>
                </div>
                <p>Italians<p>
              </div>
            </div>
          </div>
      </section>

      <div class="cards__grid">
        <h2 class="cards__descript">Popular Near You</h2> 
        <div class="cards__row">
          <section class="card">
            <div class="card__image">
              <img class="card__img" alt="sushi" src="../static/img/sushi.jpeg" th:src="@{img/sushi.jpeg}"/>
            </div>
            <div class="card__content">
              <h2 class="card__restaurantTitle">Wonderful Sushiness</h2>
              <p class="card__restaurantHours">Kitchen hours: 11:30 - 22:00</p>
              <p class="card__restaurantType">Quick service</p>
              <div class="card__restaurantTags">
                <p class="card__tagItem">Vegan</p>
              </div>
              <a href="#" class="card__restaurantMenu">Menu</a>
            </div>
          </section>
          <section class="card">
            <div class="card__image">
              <img class="card__img" alt="sushi" src="../static/img/sushi.jpeg" th:src="@{img/sushi.jpeg}"/>
            </div>
            <div class="card__content">
              <h2 class="card__restaurantTitle">Wonderful Sushiness</h2>
              <p class="card__restaurantHours">Kitchen hours: 11:30 - 22:00</p>
              <p class="card__restaurantType">Quick service</p>
              <div class="card__restaurantTags">
                <p class="card__tagItem">Vegan</p>
              </div>
              <a href="#" class="card__restaurantMenu">Menu</a>
            </div>
          </section>
          <section class="card">
            <div class="card__image">
              <img class="card__img" alt="sushi" src="../static/img/sushi.jpeg" th:src="@{img/sushi.jpeg}"/>
            </div>
            <div class="card__content">
              <h2 class="card__restaurantTitle">Wonderful Sushiness</h2>
              <p class="card__restaurantHours">Kitchen hours: 11:30 - 22:00</p>
              <p class="card__restaurantType">Quick service</p>
              <div class="card__restaurantTags">
                <p class="card__tagItem">Vegan</p>
              </div>
              <a href="#" class="card__restaurantMenu">Menu</a>
            </div>
          </section>
        </div>
      </div>

    </main>
</body>
</html>