<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="is">
<head th:insert="fragments/general.html :: headerfiles">
  <title id="title">Out to Eat</title>
</head>
<body>
<header th:replace="fragments/general.html :: header"></header>
<main>
  <section th:replace="fragments/general.html :: sidebar"></section>
  <section th:replace="fragments/general.html :: login"></section>
  <section class="filter">
    <div class="filter__grid">
      <div class="filter__options" th:switch="${categories}">
        <h2 th:case="null">There are no options</h2>
        <div class="filter__item" th:each="category: ${categories}">
          <div class="filter__image">
            <img class="filter__img" alt="${category.name}"  th:src="@{img/__${category.name}__.png}"/>
          </div>
          <p th:text="${category.name}">Bars<p>
        </div>
      </div>
    </div>
  </section>

  <div class="cards__grid" th:switch="${categories}" th:fragment="category">
    <h2 th:case="null">No categories</h2>
    <div th:each="category : ${categories}">
      <h2 class="cards__descript" th:text="${category.name}">Popular Near You</h2>
      <div class="cards__row" th:switch="${category.getRestaurants()}">
        <h2 th:case="null">There are no restaurants in this category</h2>
        <section class="card" th:each="restaurant : ${category.getRestaurants()}">
          <a class="card__ID" th:href="@{/restaurant/{id}(id=${restaurant.getId()})}">
            <h2 class="card__restaurantTitle" th:text="${restaurant.getName()}">Wonderful Sushiness</h2>
            <div class="card__image">
              <img class="card__img" th:src="@{{url}(url=${restaurant.getPhoto(0) != null ? restaurant.getPhoto(0) : '/img/generic.jpg'})}"/>
            </div>
          </a>
          <p th:text="${(restaurant.getOpeningHours().size() > 0 ? 'Open today: '+restaurant.getOpeningHours().get(restaurant.getCurrentDay()-2).hoursToString() : 'No Opening Hours')}"></p>
          <a th:href="${restaurant.getWebsite() != null ? restaurant.getWebsite() : null}" th:text="${restaurant.getWebsite() == null ? '' : 'Menu: '}"></a>
        </section>
      </div>
    </div>
  </div>
  <div class="main" th:switch="${restaurants}">
    <h2 th:case="null">No restaurants found</h2>
    <div class="main__grid">
      <section class="card" th:each="restaurant : ${restaurants}">
        <a class="card__ID" th:href="@{/restaurant/{id}(id=${restaurant.getId()})}">
          <h2 class="card__restaurantTitle" th:text="${restaurant.getName()}">Wonderful Sushiness</h2>
          <div class="card__image">
            <img class="card__img" th:src="@{{url}(url=${restaurant.getPhoto(0) != null ? restaurant.getPhoto(0) : '/img/generic.jpg'})}"/>
          </div>
        </a>
        <p th:text="${(restaurant.getOpeningHours().size() > 0 ? 'Open today: '+restaurant.getOpeningHours().get(restaurant.getCurrentDay()-2).hoursToString() : 'No Opening Hours')}"></p>
        <a th:href="${restaurant.getWebsite() != null ? restaurant.getWebsite() : null}" th:text="${restaurant.getWebsite() == null ? '' : 'Menu: '}"></a>
      </section>
    </div>
  </div>
</main>
</body>
</html>