<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="is">
<head th:insert="fragments/general.html :: headerfiles">
    <title id="title">Út Að Borða</title>
</head>
<body>
<header th:replace="fragments/general.html :: header"></header>
<main>
    <div class="restaurant">
        <div class="restaurant__info">
            <div class="restaurant__header">
                <div class="restaurant__headerImg">
                    <form th:if="${!owner}" action="#" th:action="@{/restaurant/claim/{id}(id=__${restaurant.getId()}__)}" sec:authorize="authenticated">
                        <button class="restaurant__claimButton btn btn-warning" type="submit">Claim</button>
                    </form>
                    <img class="restaurant__img" th:src="@{{url}(url=${restaurant.getPhoto(0) != null ? restaurant.getPhoto(0) : '../img/generic.jpg'})}"/>
                    <h1 th:text="${restaurant.name}" class="restaurant__title">Bastard Brew and Food</h1>
                </div>
                <h1 th:text="${owner}"></h1>
                <div class="restaurant__headerInfo">
                    <p th:text="${restaurant.address}">Vegamótastígur 4</p>|
                    <p th:text="${restaurant.getPhone()}">+354 581 2345</p>|
                    <a th:text="${restaurant.getWebsite()}">bastardbrewandfood.is</a>
                </div>
            </div>
            <div class="restaurant__infoCards">
                <div class="restaurant__infoUpper">
                    <div class="restaurant__infoUpperCard">
                        <h2 class="restaurant__infoType">Tilboð</h2>
                        <div class="restaurant__infoBody">
                            <p class="restaurant__infoTitle">Tilboð hússins:</p>
                            <div class="restaurant__infoItem">
                                <p class="restaurant__infoItemText">20% af take away</p>
                            </div>
                        </div>
                        <div class="restaurant__infoBody">
                            <p class="restaurant__infoTitle">Einkaklúbbur:</p>
                            <div class="restaurant__infoItem">
                                <p class="restaurant__infoItemText">2f1 af stórum kranabjórum</p>
                                <p class="restaurant__infoItemText">%15 af mat</p>
                            </div>
                        </div>
                        <div class="restaurant__infoBody">
                            <p class="restaurant__infoTitle">Coupons:</p>
                            <div class="restaurant__infoItem">
                                <p class="restaurant__infoItemText">20% af reikningnum fyrir kl 4</p>
                            </div>
                        </div>
                    </div>
                    <div class="restaurant__infoUpperCard x">
                        <div class="restaurant__infoType">
                            <h2 class="restaurant__infoTypeTitle">Stemmning</h2>
                            <p class="restaurant__infoTypeType">Busy</p>
                        </div>
                        <div class="restaurant__infoBodyOuter">
                            <div class="restaurant__infoBody">
                                <p class="restaurant__infoTitle">Hádegi</p>
                                <div class="restaurant__infoItemBox">
                                    <p class="restaurant__infoItemTitle">Virkir dagar:</p>
                                    <p class="restaurant__infoItemPercent">50%-60%</p>
                                </div>
                                <div class="restaurant__infoItemBox">
                                    <p class="restaurant__infoItemTitle">Helgar:</p>
                                    <p class="restaurant__infoItemPercent">70%-80%</p>
                                </div>
                            </div>
                            <div class="restaurant__infoBody">
                                <p class="restaurant__infoTitle">Kvöld</p>
                                <div class="restaurant__infoItemBox">
                                    <p class="restaurant__infoItemTitle">Virkir dagar:</p>
                                    <p class="restaurant__infoItemPercent">70%-80%</p>
                                </div>
                                <div class="restaurant__infoItemBox">
                                    <p class="restaurant__infoItemTitle">Helgar:</p>
                                    <p class="restaurant__infoItemPercent">85%-100%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="restaurant__infoLower">
                    <div class="restaurant__infoLowerCard">
                        <h2 class="restaurant__infoType">Happy Hour</h2>
                        <div class="restaurant__infoBody">
                            <p class="restaurant__infoTitle">500 kr afsláttur</p>
                            <div class="restaurant__infoItem">
                                <p class="restaurant__infoItemText">- Stórar dælubjórar</p>
                                <p class="restaurant__infoItemText">- Krana kokteilar</p>
                                <p class="restaurant__infoItemText">- Vín hússins</p>
                            </div>
                            <div class="restaurant__infoHours">
                                <p class="restaurant__infoHoursStart">16:00</p> -
                                <p class="restaurant__indoHoursEnds">19:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="restaurant__infoLowerCard">
                        <h2 class="restaurant__infoType">Opnunartímar</h2>
                        <div th:each="hours : ${restaurant.getOpeningHours()}" class="restaurant__infoBodyOpenHours">
                            <p th:text="${hours.weekdayToString(hours.getWeekDay())}" class="restaurant__infoBodyOpenHours__Day"></p>
                            <p th:text="${hours.hoursToString()}" class="restaurant__infoBodyOpenHours__Hour"></p>
                        </div>
                    </div>
                    <div class="restaurant__infoLowerCard">
                        <h2 class="restaurant__infoType">Ertu með sérþarfir?</h2>
                        <div class="restaurant__infoBody">
                            <p class="restaurant__infoTitle">Sérfæði í boði:</p>
                            <div class="restaurant__infoDietary">
                                <img src="../img/vegan.svg" class="restaurant__infoDietaryBool"/>
                                <p class="restaurant__infoDietaryType">Vegan</p>
                            </div>
                            <div class="restaurant__infoDietary">
                                <img src="../img/vegetarian.svg" class="restaurant__infoDietaryBool"/>
                                <p class="restaurant__infoDietaryType">Grænmetis</p>
                            </div>
                            <div class="restaurant__infoDietary">
                                <img src="../img/ketogenic.svg" class="restaurant__infoDietaryBool"/>
                                <p class="restaurant__infoDietaryType">Keto</p>
                            </div>
                            <div class="restaurant__infoDietary">
                                <img src="../img/glutenfree.svg" class="restaurant__infoDietaryBool"/>
                                <p class="restaurant__infoDietaryType">Glútenfrí</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a th:if="${restaurant.getWebsite() != null}" th:href="@{{url}(url=${restaurant.getWebsite()})}" class="restaurant__menuCard">
                    <div  class="restaurant__menuCard__inner">
                        <p th:if="${restaurant.getWebsite() != null}">Menu</p>
                    </div>
                </a>
            </div>
            <div class="restaurant__map">
                <div class="restaurant__gmap__router">
                    <div class="restaurant__gmap__canvas">
                        <iframe
                                width="810"
                                height="460"
                                id="gmap"
                                src="https://maps.google.com/maps?q=Iceland&t=&z=15&ie=UTF8&iwloc=&output=embed"
                                th:src="${'https://maps.google.com/maps?q='+restaurant.getName()+' '+restaurant.getAddress()+'&t=&z=15&ie=UTF8&iwloc=&output=embed'}"
                                frameborder="0"
                                scrolling="no"
                                marginheight="0"
                                marginwidth="0"
                        >
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cards__grid" th:switch="${categories}" th:fragment="category">
        <h2 th:case="null">No categories</h2>
        <div th:each="category : ${categories}">
            <h2 class="cards__descript" th:text="${category.name}">Popular Near You</h2>
            <div class="cards__row" th:switch="${category.getRestaurants()}">
                <section class="card" th:each="restaurant : ${category.getRestaurants()}">
                    <a class="card__ID" th:href="@{/restaurant/{id}(id=${restaurant.getId()})}">
                        <h2 class="card__restaurantTitle" th:text="${restaurant.getName()}">Wonderful Sushiness</h2>
                        <div class="card__image">
                            <img class="card__img" th:src="@{{url}(url=${restaurant.getPhoto(0) != null ? restaurant.getPhoto(0) : '/img/generic.jpg'})}"/>
                        </div>
                    </a>
                    <p th:text="${(restaurant.getOpeningHours().size() > 0 ? 'Open today: '+restaurant.getOpeningHoursToday() : 'No Opening Hours')}"></p>
                    <a th:href="${restaurant.getWebsite() != null ? restaurant.getWebsite() : null}" th:text="${restaurant.getWebsite() == null ? '' : 'Menu'}"></a>
                    <p th:text="${restaurant.getAddress() != null ? restaurant.getAddress() : ''}"></p>
                </section>
            </div>
        </div>
    </div>
</main>
</body>
</html>