<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="is">
<head th:insert="fragments/general.html :: headerfiles">
    <title id="title">Út Að Borða</title>
</head>
<body>
<header th:replace="fragments/general.html :: header"></header>
<main>
    <div class="restaurant">
        <div class="restaurant__info">
            <div class="restaurant__header">
                <div class="restaurant__headerImg">
                    <img class="restaurant__img" alt="sushi" src="../static/img/sushi.jpeg" th:src="@{/img/sushi.jpeg}"/>
                    <h1 th:text="${restaurant.getName()}" class="restaurant__title">Bastard Brew and Food</h1>
                </div>
                <div class="restaurant__headerInfo">
                    <p>Vegamótastígur 4</p>|
                    <p>+354 581 2345</p>|
<!--                    <p th:text="${restaurant.getPhone()}"></p>-->
                    <a>bastardbrewandfood.is</a>
                </div>
            </div>
            <div class="restaurant__infoCards">
                <div class="restaurant__infoUpper">
                <div class="restaurant__infoUpperCard">
                    <h2 class="restaurant__infoType">Tilboð</h2>
                    <div class="restaurant__infoBody">
                        <p class="restaurant__infoTitle">Tilboð hússins:</p>
                        <div class="restaurant__infoItem">
                            <p class="restaurant__infoItemText">20% af take away</p>
                        </div>
                    </div>
                    <div class="restaurant__infoBody">
                        <p class="restaurant__infoTitle">Einkaklúbbur:</p>
                        <div class="restaurant__infoItem">
                            <p class="restaurant__infoItemText">2f1 af stórum kranabjórum</p>
                            <p class="restaurant__infoItemText">%15 af mat</p>
                        </div>
                    </div>
                    <div class="restaurant__infoBody">
                        <p class="restaurant__infoTitle">Coupons:</p>
                        <div class="restaurant__infoItem">
                            <p class="restaurant__infoItemText">20% af reikningnum fyrir kl 4</p>
                        </div>
                    </div>
                </div>
                <div class="restaurant__infoUpperCard x">
                    <div class="restaurant__infoType">
                        <h2 class="restaurant__infoTypeTitle">Stemmning</h2>
                        <p class="restaurant__infoTypeType">Busy</p>
                    </div>
                    <div class="restaurant__infoBodyOuter">
                        <div class="restaurant__infoBody">
                            <p class="restaurant__infoTitle">Hádegi</p>
                            <div class="restaurant__infoItemBox">
                                <p class="restaurant__infoItemTitle">Virkir dagar:</p>
                                <p class="restaurant__infoItemPercent">50%-60%</p>
                            </div>
                            <div class="restaurant__infoItemBox">
                                <p class="restaurant__infoItemTitle">Helgar:</p>
                                <p class="restaurant__infoItemPercent">70%-80%</p>
                            </div>
                        </div>
                        <div class="restaurant__infoBody">
                            <p class="restaurant__infoTitle">Kvöld</p>
                            <div class="restaurant__infoItemBox">
                                <p class="restaurant__infoItemTitle">Virkir dagar:</p>
                                <p class="restaurant__infoItemPercent">70%-80%</p>
                            </div>
                            <div class="restaurant__infoItemBox">
                                <p class="restaurant__infoItemTitle">Helgar:</p>
                                <p class="restaurant__infoItemPercent">85%-100%</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="restaurant__infoLower">
                    <div class="restaurant__infoLowerCard">
                        <h2 class="restaurant__infoType">Happy Hour</h2>
                        <div class="restaurant__infoBody">
                            <p class="restaurant__infoTitle">500 kr afsláttur</p>
                            <div class="restaurant__infoItem">
                                <p class="restaurant__infoItemText">- Stórar dælubjórar</p>
                                <p class="restaurant__infoItemText">- Krana kokteilar</p>
                                <p class="restaurant__infoItemText">- Vín hússins</p>
                            </div>
                            <div class="restaurant__infoHours">
                                <p class="restaurant__infoHoursStart">16:00</p> -
                                <p class="restaurant__indoHoursEnds">19:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="restaurant__infoLowerCard">
                        <h2 class="restaurant__infoType">Opnunartímar</h2>
                        <div class="restaurant__infoBodyOpenHours">
                            <p class="restaurant__infoTitle">Virkir dagar: </p>
                            <div class="restaurant__infoHours">
                                <p class="restaurant__infoHoursStart">12:00</p>  -
                                <p class="restaurant__infoHoursEnds">01:00</p>
                            </div>
                        </div>
                        <div class="restaurant__infoBodyOpenHours">
                            <p class="restaurant__infoTitle">Helgar:</p>
                            <div class="restaurant__infoHours">
                                <p class="restaurant__infoHoursStart">12:00</p>  -
                                <p class="restaurant__infoHoursEnds">04:00</p>
                            </div>
                        </div>
                    </div>
            <div class="restaurant__infoLowerCard">
                <h2 class="restaurant__infoType">Ertu með sérþarfir?</h2>
                <div class="restaurant__infoBody">
                    <p class="restaurant__infoTitle">Sérfæði í boði:</p>
                    <div class="restaurant__infoDietary">
                        <img alt="X" class="restaurant__infoDietaryBool"/>
                        <p class="restaurant__infoDietaryType">Vegan</p>
                    </div>
                    <div class="restaurant__infoDietary">
                        <img alt="X" class="restaurant__infoDietaryBool"/>
                        <p class="restaurant__infoDietaryType">Grænmetis</p>
                    </div>
                    <div class="restaurant__infoDietary">
                        <img alt="X" class="restaurant__infoDietaryBool"/>
                        <p class="restaurant__infoDietaryType">Keto</p>
                    </div>
                    <div class="restaurant__infoDietary">
                        <img alt="X" class="restaurant__infoDietaryBool"/>
                        <p class="restaurant__infoDietaryType">Glútenfrí</p>
                    </div>
                </div>
            </div>
        </div>
<!--            <a th:text="${restaurant.getWebsite()}"> <h2 th:text="${restaurant.getName()}"></h2></a>-->
<!--            <p th:text="${restaurant.getEmail()}"></p>-->
        </div>
    </div>
        <section th:replace="home.html :: category"></section>
</main>
</body>
</html>