<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="is">
<head th:insert="fragments/general.html :: headerfiles">
    <title id="title">Út Að Borða</title>
</head>
<body>
<header th:replace="fragments/general.html :: header"></header>
<main>
    <div class="restaurant" >
        <div class="restaurant__info">
            <a th:text="${restaurant.getWebsite()}"> <h2 th:text="${restaurant.getName()}"></h2></a>
            <p th:text="${restaurant.getEmail()}"></p>
            <p th:text="${restaurant.getPhoneNumber()}"></p>
        </div>
    </div>
</main>
</body>
</html>