@import './_config';

.header {
  
  position: relative;
  z-index: 0;
  height: 100px;
  width: 100%;
  background-color: $color-anti-flash-white;

  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
  
  &__left {
 	display: flex;
  }
  &__title {
  	font-family: $font-heading;
    font-weight: bold;
    font-size: 40px;
  }

  &__menuButton {
      display: flex;
	  flex-direction: column;
	  justify-content: center;
  }
  
  &__menu{
  	img {
	    height: 20px;
	    object-fit: cover;  
	    margin: 10px;
  	}
  }
  &__content {
    max-width: $max-width;
    margin: 0 auto; 
    height: 100%;
    display: flex;
    justify-content: space-between;
  }


  &__navList {
    right:0; 	
    display: flex;
    list-style: none;

    & > li {
      margin-left: 1rem;
    }
  }
}
