@import './_config';

.header {
  position: relative;
  z-index: 10;
  height: 80px;
  width: 100%;
  background-color: $color-anti-flash-white;

  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
  
  &__title {
  	font-family: $font-heading;
  	font-weight: bold;
  }

  &__menu {
      display: flex;
	  flex-direction: column;
	  justify-content: center;
  	img {
	    height: 20px;
	    object-fit: cover;  
	    margin: 10px;
  	}
  }
  &__content {
    max-width: $max-width;
    margin: 0 auto; 
    height: 100%;
    display: flex;
    justify-content: start;
  }
  

  &__login {
    position: absolute;
    background-color: blue;
    top: 100%;
    right: 0;
  }

  &__navList {
    display: flex;
    list-style: none;

    & > li {
      margin-left: 1rem;
    }
  }
}
