//body{
//    background:
//}

.menu{
	position: absolute;
    background-color: white;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid black;
    border-right: 0px;
    border-top: 0px;
    text-align: center;
    padding-top: 50px;

    &__loginButton {
        a {
            display: flex;
            justify-content: center;
        }
        h1 {
            background-color: black;
            color: #fff;
            width: 85%;
            padding: 15px 0;
        }
    }

    &__items {
        margin: 15px 25px; 
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &__item {
        margin: 20px 0;
        align-self: flex-start;
        border: 1px solid black;
        padding: 30px 0;
        width: 100%;

        a {
            font-size: 1.5em;
        }
    }
}

#menuNavigationElement{
    z-index: 1001;
}