@import './_config.scss';

*{
    margin: 0 0;
    padding: 0 0;
}
body{
    margin: 0 auto;
}
main {
    max-width: 1500px;
    margin: 0 auto;
}
.restaurant{
    p{
        font-size: 1.2em;
        font-weight: bold;
        font-family: $font-body;
    }
    &__header{
        position: relative;

        &Img{
            border: 1px solid black;
            box-shadow: $the-shadow;

            img{
                width: 100%;
                height: 400px;
                object-fit: cover;
                z-index: 0;
                opacity: 80%;
                filter: contrast(1.3) brightness(0.8) saturate(1.2);
            }
            h1{
                font-family: $font-heading;
                color: #FFF;
                z-index: 1;
                position: absolute;
                top: 32.5%;
                left: 0;
                width: 100%;
                text-align: center;
                font-size: 5em;
            //    -webkit-text-stroke: 1px gray;
            //    -webkit-text-fill-color: #FFF;
            }
        }
        &Info{
            display: flex;
            margin-right: 10px;

            p{
                font-weight: bold;
                font-size: 1.2em;
                margin-right: 10px;
                margin-top: 0;
            }
        }
    }
    &__info{
        &Cards{
            display:flex;
            flex-direction:column;
            flex-wrap: wrap;
        }
        &Card{
            width: auto;
            margin: $element-margin;
            padding: $element-padding;
            background: rgba(219, 186, 176, 0.32);
            border-radius: 10px;
        }
        &Upper {
            display: flex;
            &Card {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 50%;
                margin: $element-margin;
                padding: $element-padding;
                background: rgba(219, 186, 176, 0.32);
                border-radius: 10px;
            }
        }
        &Body{
            margin: 20px 0;
            //padding:0 20px;
        }
        &Lower{
            display:flex;
            &Card{
                width: 33.33%;
                margin: $element-margin;
                padding: $element-padding;
                //box-shadow: $the-shadow;
                // Fugly v
                border: 2px rgb(147, 48, 18) solid;
                border-radius: 10px;
            }
        }
        &Body{
            display:flex;
            flex-direction: column;
            margin: 10px 0;
            padding-right: 30px;
        }
        &BodyOuter{
            display: flex;
        }
        &Type{
            margin-top: 0;
        }
        &Dietary{
            display:flex;
            position: relative;
            width: 170px;
            img {
                width: 24px;
                height: 24px;
            }
            &Type {
                position: absolute;
                right: 0;
            }
            &Bool {
            }
        }
        &Title{
            margin: 0 10px 0 0;
        }

        &Item{
            margin: 0 0 0 10px;
            &Text{

                margin: 0 0 0 10px;
            }
            &Box{
                display: flex;
            }
        }

        &Hours{
            display:flex;
            align-content: center;
            p{
                margin: 0 5px;
            }
        }

        &BodyOpenHours{
            display: flex;
            position: relative;
            min-width: 245px;
            p {
                margin: 0;
            }
            &__Hour {
                position: absolute;
                right: 0;
            }
        }
    }

    &__gmap__router {
        position:relative;
        text-align:right;
        height: $map-height;
        width: $map-width;
        margin: $element-padding auto $element-padding auto;
        padding: $element-padding;
        box-shadow: $the-shadow;
    }

    &__gmap__canvas {
        background:none !important;
        height: calc(#{$map-height} - (2 * #{$element-padding}));
        width: calc(#{$map-width} - (2 * #{$element-padding}));
    }

    &__claimButton {
        position: absolute;
        top: 1em;
        right: 1em;
        z-index: 10;
    }
}

x {
    align-item:center;
}
